<div layout="row"
     layout-fill
     layout-align="center center">
    <div layout="row" class="content-container"
         layout-align="center center"
         md-whiteframe="3" flex="85">
        <div flex="60">
            <md-button ng-click="show()">Show</md-button>
            <md-button ng-click="hide()">Hide</md-button>
        </div>
        <div flex="40">

            <md-card md-whiteframe="5" animation="'zoomIn'">
                <md-card-header>
                    <md-card-avatar>
                        <img src="https://material.angularjs.org/latest/img/logo.svg" alt="Logo"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Angular</span>
                        <span class="md-subhead">Material</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card header</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
            </md-card>
        </div>
    </div>

</div>